html, body {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hero-section, .header-container, .logo, .header-links, .hero-container, .hero-content, .hero-title, .hero-text, .image-placeholder {
  /* Using the border as a visual aid for layout purposes */
  border: 1px solid hotpink;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
}

.header-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

a {
  text-decoration: none;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  max-width: 400px;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
}

.hero-text, .header-links {
  font-size: 18px;
}

.image-placeholder {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section, .info-section, .quote-section, .action-section, .footer {
  flex: auto;
}

.info-section, .info-title, .info-container, .info-pair {
  /* Using the border as a visual aid for layout purposes */
  border: 1px solid green;
}

.info-section {
  height: 200px;
}

.info-title, .item-description {
  text-align: center;
}

.info-title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bolder;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.info-pair {
  max-width: 100px;
}

.item-picture {
  height: 100px;
  width: 100px;
  border: 3px solid #3882F6;
}

.quote-section, .quote-container, .quote, .speaker {
  /* Using the border as a visual aid for layout purposes */
  border: 1px solid blue;
}

.quote-section {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.speaker {
  align-self: flex-end;
  font-weight: bold;
}

.action-section, .action-container, .calling-container, .button-container {
  /* Using the border as a visual aid for layout purposes */
  border: 1px solid red;
}

.action-section {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  width: 60%;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  /* Using the border as a visual aid for layout purposes */
  border: 1px solid black;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}