html, body {
  height: 100%;
}

body {
  margin: 0;
}

.action-section, .action-container, .calling-container, .button-container {
  /* Using the border as a visual aid for layout purposes */
  border: 1px solid red;
}

.action-section {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  width: 60%;
}

.footer {
  /* Using the border as a visual aid for layout purposes */
  border: 1px solid black;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}